<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final_back.mapper.system.UserBasicInfoMapper">

    <select id="getUserPassword" resultMap="getUserPasswordMap">
        select gender, name, age, work_year
        from user_basic_info
                 join user_password_info upi on user_basic_info.user_basic_info_id = upi.user_basic_info_id
        where upi.user_basic_info_id = #{userBasicInfoId};
    </select>

    <resultMap id="getUserPasswordMap" type="com.final_back.entity.system.UserBasicInfo">
        <result property="gender" column="gender"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="workYear" column="work_year"/>
    </resultMap>


    <select id="getAllUserAllInfo" resultMap="getAllUserAllInfo">
        select user_basic_info.user_basic_info_id,
               user_basic_info.gender,
               user_basic_info.name,
               user_basic_info.age,
               user_basic_info.work_year,
               user_basic_info.entry_time,
               user_basic_info.salary,
               user_basic_info.phone_number,
               user_basic_info.wechat,
               user_basic_info.email,
               user_basic_info.photo,
               user_basic_info.gmt_create,
               user_basic_info.gmt_modified,
               user_basic_info.role_id,
               upi.user_password_info_id,
               upi.state,
               upi.user_name,
               upi.password,
               upi.organization_id,
               rt.role_name,
               rt.role_description
        from user_basic_info
                 join user_password_info upi on user_basic_info.user_basic_info_id = upi.user_basic_info_id
                 join role_table rt on user_basic_info.role_id = rt.role_id;

    </select>
    <resultMap id="getAllUserAllInfo" type="com.final_back.dto.UserBasicInfoDTO"></resultMap>


    <select id="getUserAllInfoByCondition" resultMap="getUserAllInfoByCondition">
        select user_basic_info.user_basic_info_id,
        user_basic_info.gender,
        user_basic_info.name,
        user_basic_info.age,
        user_basic_info.work_year,
        user_basic_info.entry_time,
        user_basic_info.salary,
        user_basic_info.phone_number,
        user_basic_info.wechat,
        user_basic_info.email,
        user_basic_info.photo,
        user_basic_info.gmt_create,
        user_basic_info.gmt_modified,
        user_basic_info.role_id,
        upi.user_password_info_id,
        upi.state,
        upi.user_name,
        upi.password,
        upi.organization_id,
        rt.role_name,
        rt.role_description
        from user_basic_info
        join user_password_info upi on user_basic_info.user_basic_info_id = upi.user_basic_info_id
        join role_table rt on user_basic_info.role_id = rt.role_id
        <where>
            <if test="roleId != null">
                user_basic_info.role_id = #{roleId}
            </if>
            <if test="userBasicInfoId != null">
                AND user_basic_info.user_basic_info_id = #{userBasicInfoId}
            </if>
            <if test="matchIdList != null">
                AND user_basic_info.user_basic_info_id IN
                <foreach item="item" collection="matchIdList" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <resultMap id="getUserAllInfoByCondition" type="com.final_back.dto.UserBasicInfoDTO"></resultMap>


</mapper>
