<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final_back.mapper.system.UserPasswordInfoMapper">


    <select id="getIdList" resultType="java.lang.Long">
        select user_password_info_id from user_password_info
        <where>
            <if test="userBasicInfoId != null">
                user_basic_info_id = #{userBasicInfoId}
            </if>
            <if test="state != null">
                OR state = #{state}
            </if>
            <if test="userName != null">
                OR user_name = #{userName}
            </if>
            <if test="organizationId != null">
                OR organization_id = #{organizationId}
            </if>
        </where>
    </select>

</mapper>
