<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final_back.mapper.cultivation.DeathRecordMapper">

    <select id="getIdList" resultType="java.lang.Long">
        select death_record_id from death_record
        <where>
            <if test="batchId != null">
                batch_id = #{batchId}
            </if>
            <if test="deathRecordPerson != null">
                OR death_record_person = #{deathRecordPerson}
            </if>
            <if test="recordPerson != null">
                OR record_person = #{recordPerson}
            </if>
        </where>
    </select>

    <select id="getAllDeathRecord" resultMap="getAllDeathRecord">
        select death_record.death_record_id,
               death_record.batch_id,
               death_record.death_number,
               death_record.death_rate,
               death_record.death_record_person,
               death_record.record_person,
               death_record.record_time,
               death_record.gmt_create,
               death_record.gmt_modified,
               bi.batch_name,
               ubi.name  as death_record_person_name,
               ubi2.name as record_person_name
        from death_record
                 join batch_info bi on death_record.batch_id = bi.batch_id
                 join user_basic_info ubi on death_record.record_person = ubi.user_basic_info_id
                 join user_basic_info ubi2 on death_record.death_record_person = ubi2.user_basic_info_id;
    </select>
    <resultMap id="getAllDeathRecord" type="com.final_back.entity.cultivation.DeathRecord">
        <result property="batchName" column="batch_name"/>
        <result property="recordPersonName" column="record_person_name"/>
        <result property="deathRecordPersonName" column="death_record_person_name"/>
    </resultMap>

    <select id="getDeathRecordByCondition" resultMap="getDeathRecordByCondition">
        select death_record.death_record_id,
        death_record.batch_id,
        death_record.death_number,
        death_record.death_rate,
        death_record.death_record_person,
        death_record.record_person,
        death_record.record_time,
        death_record.gmt_create,
        death_record.gmt_modified,
        bi.batch_name,
        ubi.name as death_record_person_name,
        ubi2.name as record_person_name
        from death_record
        join batch_info bi on death_record.batch_id = bi.batch_id
        join user_basic_info ubi on death_record.record_person = ubi.user_basic_info_id
        join user_basic_info ubi2 on death_record.death_record_person = ubi2.user_basic_info_id
        <where>
            <if test="batchId != null">
                death_record.batch_id = #{batchId}
            </if>
            <if test="deathRecordPerson != null">
                AND death_record.death_record_person = #{deathRecordPerson}
            </if>
            <if test="recordPerson != null">
                AND death_record.record_person = #{recordPerson}
            </if>
            <if test="startDate != null">
                AND death_record.record_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        <if test="order != null and order != ''">
            <choose>
                <when test='isDesc != null and isDesc == "1"'>
                    order by ${order} desc
                </when>
            </choose>
        </if>

        <if test="limit != null and limit != ''">
            limit #{limit}
        </if>


    </select>

    <resultMap id="getDeathRecordByCondition" type="com.final_back.entity.cultivation.DeathRecord"></resultMap>


</mapper>
