<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final_back.mapper.cultivation.DosingRecordMapper">

    <select id="getIdList" resultType="java.lang.Long">
        select dosing_record_id from dosing_record
        <where>
            <if test="batchId != null">
                batch_id = #{batchId}
            </if>
            <if test="medicineId != null">
                OR medicine_id = #{medicineId}
            </if>
            <if test="dosingPerson != null">
                OR dosing_person = #{dosingPerson}
            </if>
            <if test="recordPerson != null">
                OR record_person = #{recordPerson}
            </if>
        </where>
    </select>

    <select id="getRangeTimeDosingRecord" resultType="com.final_back.entity.cultivation.DosingRecord">
        select *
        from dosing_record
        where record_time between #{startTime} and #{endTime}
    </select>

    <select id="getAllDosingRecord" resultMap="getAllDosingRecord">
        select dr.dosing_record_id,
               dr.dosing_amount,
               dr.medicine_id,
               dr.dosing_person,
               dr.record_person,
               dr.batch_id,
               dr.record_time,
               dr.gmt_create,
               dr.gmt_modified,
               bi.batch_name,
               mi.medicine_name,
               ubi.name  as record_person_name,
               ubi2.name as dosing_person_name
        from dosing_record dr
                 join batch_info bi on dr.batch_id = bi.batch_id
                 join medicine_info mi on dr.medicine_id = mi.medicine_id
                 join user_basic_info ubi on dr.record_person = ubi.user_basic_info_id
                 join user_basic_info ubi2 on dr.dosing_person = ubi2.user_basic_info_id;
    </select>

    <resultMap id="getAllDosingRecord" type="com.final_back.entity.cultivation.DosingRecord"></resultMap>


</mapper>
