<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final_back.mapper.cultivation.EggProductionRecordMapper">

    <select id="getIdList" resultType="java.lang.Long">
        select egg_production_record_id from egg_production_record
        <where>
            <if test="batchId != null">
                batch_id = #{batchId}
            </if>
            <if test="pickEggPerson != null">
                OR pick_egg_person = #{pickEggPerson}
            </if>
            <if test="recordPerson != null">
                OR record_person = #{recordPerson}
            </if>
        </where>
    </select>

    <select id="getRangeTimeEggProductionRecord" resultType="com.final_back.entity.cultivation.EggProductionRecord">
        select * from egg_production_record where record_time between #{startTime} and #{endTime}
    </select>

    <select id="getAllEggProductionRecord" resultMap="getAllEggProductionRecord">
        select epr.egg_production_record_id,
               epr.batch_id,
               epr.egg_production_amount,
               epr.egg_production_rate,
               epr.bad_egg_production_amount,
               epr.bad_egg_production_rate,
               epr.pick_egg_person,
               epr.record_person,
               epr.record_time,
               epr.gmt_create,
               epr.gmt_modified,
               bi.batch_name,
               ubi.name  as recordPersonName,
               ubi2.name as eggPickPersonName
        from egg_production_record epr
                 join batch_info bi on epr.batch_id = bi.batch_id
                 join user_basic_info ubi on epr.record_person = ubi.user_basic_info_id
                 join user_basic_info ubi2 on epr.pick_egg_person = ubi2.user_basic_info_id;
    </select>
    <resultMap id="getAllEggProductionRecord" type="com.final_back.entity.cultivation.EggProductionRecord"></resultMap>

</mapper>
