<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final_back.mapper.cultivation.FeedRecordMapper">

    <select id="getIdList" resultType="java.lang.Long">
        select feed_record_id from feed_record
        <where>
            <if test="batchId != null">
                batch_id = #{batchId}
            </if>
            <if test="feedId != null">
                OR feed_id = #{feedId}
            </if>
            <if test="feedPerson != null">
                OR feed_person = #{feedPerson}
            </if>
            <if test="recordPerson != null">
                OR record_person = #{recordPerson}
            </if>
        </where>
    </select>

    <select id="getRangeTimeFeedRecord" resultType="com.final_back.entity.cultivation.FeedRecord">
        select *
        from feed_record
        where record_time between #{startTime} and #{endTime}
    </select>

    <select id="getAllFeedRecord" resultMap="getAllFeedRecord">
        select fr.feed_record_id,
               fr.batch_id,
               fr.feed_id,
               fr.feed_amount,
               fr.feed_person,
               fr.record_person,
               fr.record_time,
               fr.gmt_create,
               fr.gmt_modified,
               bi.batch_name,
               fi.feed_name,
               ubi.name  as recordPersonName,
               ubi2.name as feedPersonName
        from feed_record fr
                 join batch_info bi on fr.batch_id = bi.batch_id
                 join feed_info fi on fr.feed_id = fi.feed_id
                 join user_basic_info ubi on ubi.user_basic_info_id = fr.record_person
                 join user_basic_info ubi2 on ubi2.user_basic_info_id = fr.feed_person;
    </select>
    <resultMap id="getAllFeedRecord" type="com.final_back.entity.cultivation.FeedRecord"></resultMap>


    <select id="getFeedRecordByCondition" resultMap="getFeedRecordByCondition">
        select fr.feed_record_id,
               fr.batch_id,
               fr.feed_id,
               fr.feed_amount,
               fr.feed_person,
               fr.record_person,
               fr.record_time,
               fr.gmt_create,
               fr.gmt_modified,
               bi.batch_name,
               fi.feed_name,
               ubi.name  as recordPersonName,
               ubi2.name as feedPersonName
        from feed_record fr
                 join batch_info bi on fr.batch_id = bi.batch_id
                 join feed_info fi on fr.feed_id = fi.feed_id
                 join user_basic_info ubi on ubi.user_basic_info_id = fr.record_person
                 join user_basic_info ubi2 on ubi2.user_basic_info_id = fr.feed_person
        <where>
            <if test="recordPerson != null">
                fr.record_person = #{recordPerson}
            </if>
            <if test="feedPerson != null">
                AND fr.feed_person = #{feedPerson}
            </if>
            <if test="batchId != null">
                AND fr.batch_id = #{batchId}
            </if>
            <if test="startDate != null">
                AND fr.record_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>
    <resultMap id="getFeedRecordByCondition" type="com.final_back.entity.cultivation.FeedRecord"></resultMap>




</mapper>
