<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final_back.mapper.cultivation.FertilizationRecordMapper">

    <select id="getIdList" resultType="java.lang.Long">
        select fertilization_record_id from fertilization_record
        <where>
            <if test="batchId != null">
                batch_id = #{batchId}
            </if>
            <if test="operatePerson!= null">
                OR operate_person = #{operatePerson}
            </if>
            <if test="recordPerson != null">
                OR record_person = #{recordPerson}
            </if>
        </where>
    </select>

    <select id="getAllFertilizationRecord" resultMap="getAllFertilizationRecord">
        select fr.fertilization_record_id,
               fr.batch_id,
               fr.fertilization_rate,
               fr.fertilization_time,
               fr.operate_person,
               fr.record_person,
               fr.record_time,
               fr.gmt_create,
               fr.gmt_modified,
               bi.batch_name,
               ubi.name  as recordPersonName,
               ubi2.name as operatePersonName
        from fertilization_record fr
                 join batch_info bi on fr.batch_id = bi.batch_id
                 join user_basic_info ubi on ubi.user_basic_info_id = fr.record_person
                 join user_basic_info ubi2 on ubi2.user_basic_info_id = fr.operate_person;
    </select>
    <resultMap id="getAllFertilizationRecord" type="com.final_back.entity.cultivation.FertilizationRecord"></resultMap>

    <select id="getFertilizationRecordByCondition" resultMap="getFertilizationRecordByCondition">
        select fr.fertilization_record_id,
               fr.batch_id,
               fr.fertilization_rate,
               fr.fertilization_time,
               fr.operate_person,
               fr.record_person,
               fr.record_time,
               fr.gmt_create,
               fr.gmt_modified,
               bi.batch_name,
               ubi.name  as recordPersonName,
               ubi2.name as operatePersonName
        from fertilization_record fr
                 join batch_info bi on fr.batch_id = bi.batch_id
                 join user_basic_info ubi on ubi.user_basic_info_id = fr.record_person
                 join user_basic_info ubi2 on ubi2.user_basic_info_id = fr.operate_person
        <where>
            <if test="recordPerson != null">
                fr.record_person = #{recordPerson}
            </if>
            <if test="operatePerson != null">
                AND fr.operate_person = #{operatePerson}
            </if>
            <if test="batchId != null">
                AND fr.batch_id = #{batchId}
            </if>
            <if test="startDate != null">
                AND fr.record_time BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="fertilizationStartDate != null">
                AND fr.fertilization_time BETWEEN #{fertilizationStartDate} AND #{fertilizationEndDate}
            </if>
        </where>
    </select>
    <resultMap id="getFertilizationRecordByCondition" type="com.final_back.entity.cultivation.FertilizationRecord"></resultMap>

</mapper>
