<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final_back.mapper.cultivation.IndividualDeathRecordMapper">

    <select id="getIdList" resultType="java.lang.Long">
        select individual_death_record_id from individual_death_record
        <where>
            <if test="deathRecordId != null">
                death_record_id = #{deathRecordId}
            </if>
            <if test="recordPerson != null">
                OR record_person = #{recordPerson}
            </if>
        </where>
    </select>

    <select id="getAllIndividualDeathRecord" resultMap="getAllIndividualDeathRecord">
        select individual_death_record_id,
               death_record_id,
               death_reason,
               picture,
               record_person,
               record_time,
               individual_death_record.gmt_create,
               individual_death_record.gmt_modified,
               name as recordPersonName
        from individual_death_record
                 join user_basic_info ubi on individual_death_record.record_person = ubi.user_basic_info_id;
    </select>

    <resultMap id="getAllIndividualDeathRecord" type="com.final_back.entity.cultivation.IndividualDeathRecord">

    </resultMap>
    
    
    <select id="getIndividualDeathRecordByCondition" resultMap="getIndividualDeathRecordByCondition">

        select individual_death_record_id,
        death_record_id,
        death_reason,
        picture,
        record_person,
        record_time,
        idr.gmt_create,
        idr.gmt_modified,
        name as recordPersonName
        from individual_death_record idr
        join user_basic_info ubi on idr.record_person = ubi.user_basic_info_id
        <where>
            <if test="recordPerson != null">
                idr.record_person = #{recordPerson}
            </if>
            <if test="startDate != null">
                AND idr.record_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>
    <resultMap id="getIndividualDeathRecordByCondition" type="com.final_back.entity.cultivation.IndividualDeathRecord"></resultMap>

</mapper>
