<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final_back.mapper.transport.IncomingRecordMapper">

    <select id="getIdList" resultType="java.lang.Long">
        select incoming_record_id from incoming_record
        <where>
            <if test="batchId != null">
                batch_id = #{batchId}
            </if>
            <if test="goodsId != null">
                OR goods_id = #{goodsId}
            </if>
            <if test="transportRecordId != null">
                OR transport_record_id = #{transportRecordId}
            </if>
            <if test="recordPerson != null">
                OR record_person = #{recordPerson}
            </if>
        </where>
    </select>

    <select id="getAllIncomingRecord" resultMap="getAllIncomingRecord">
        select ir.incoming_record_id,
               ir.batch_id,
               ir.incoming_amount,
               ir.goods_id,
               ir.transport_record_id,
               ir.record_time,
               ir.gmt_create,
               ir.gmt_modified,
               bi.batch_name,
               gi.goods_name
        from incoming_record ir
                 join batch_info bi on ir.batch_id = bi.batch_id
                 join goods_info gi on ir.goods_id = gi.goods_id;
    </select>
    <resultMap id="getAllIncomingRecord" type="com.final_back.entity.transport.IncomingRecord"></resultMap>

</mapper>
