<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final_back.mapper.transport.OutputRecordMapper">

    <select id="getIdList" resultType="java.lang.Long">
        select output_record_id from output_record
        <where>
            <if test="batchId != null">
                batch_id = #{batchId}
            </if>
            <if test="transportRecordId != null">
                OR transport_record_id = #{transportRecordId}
            </if>
            <if test="recordPerson != null">
                OR record_person = #{recordPerson}
            </if>
        </where>
    </select>


</mapper>
