<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final_back.mapper.transport.OutputRecordMapper">

    <select id="getIdList" resultType="java.lang.Long">
        select output_record_id from output_record
        <where>
            <if test="batchId != null">
                batch_id = #{batchId}
            </if>
            <if test="transportRecordId != null">
                OR transport_record_id = #{transportRecordId}
            </if>
            <if test="recordPerson != null">
                OR record_person = #{recordPerson}
            </if>
        </where>
    </select>

    <select id="getAllOutputRecord" resultMap="getAllOutputRecord">
        select output_record_id,
               output_record.batch_id,
               output_amount,
               output_rate,
               transport_record_id,
               output_record.record_person,
               record_time,
               batch_name,
               name as recordPersonName
        from output_record
                 join batch_info bi on output_record.batch_id = bi.batch_id
                 join user_basic_info ubi on ubi.user_basic_info_id = output_record.record_person;
    </select>
    <resultMap id="getAllOutputRecord" type="com.final_back.entity.transport.OutputRecord"></resultMap>


    <select id="getOutputRecordByCondition" resultMap="getOutputRecordByCondition">
        select output_record_id,
        output_record.batch_id,
        output_amount,
        output_rate,
        transport_record_id,
        output_record.record_person,
        record_time,
        batch_name,
        name as recordPersonName
        from output_record
        join batch_info bi on output_record.batch_id = bi.batch_id
        join user_basic_info ubi on ubi.user_basic_info_id = output_record.record_person
        <where>
            <if test="batchId != null">
                output_record.batch_id = #{batchId}
            </if>
            <if test="recordPerson != null">
                output_record.record_person = #{recordPerson}
            </if>
            <if test="startDate != null">
                AND output_record.record_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        <if test="order != null and order != ''">
            <choose>
                <when test='isDesc != null and isDesc == "1"'>
                    order by ${order} desc
                </when>
            </choose>
        </if>

        <if test="limit != null and limit != ''">
            limit #{limit}
        </if>
    </select>
    <resultMap id="getOutputRecordByCondition" type="com.final_back.entity.transport.OutputRecord"></resultMap>

</mapper>
