<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final_back.mapper.maintainInfo.BatchInfoMapper">

    <select id="getIdList" resultType="java.lang.Long">
        select batch_id from batch_info
        <where>
            <if test="recordPerson != null">
                record_person = #{recordPerson}
            </if>
        </where>
    </select>

    <select id="getBatchList" resultMap="getBatchList">
        select batch_id,
               type,
               record_person,
               batch_name,
               current_work,
               bi.gmt_create,
               bi.gmt_modified,
               user_basic_info_id,
               name as recordPersonName
        from batch_info bi
                 join user_basic_info ubi on bi.record_person = ubi.user_basic_info_id;
    </select>
    <resultMap id="getBatchList" type="com.final_back.entity.maintainInfo.BatchInfo"></resultMap>


</mapper>
